extends ../index 
block content   
    include ../partials/title
    p homePageParagraph
    form.form(method="post")
        label.label.row1(for="myInput") My Label"
        input.form-control.row1(type="text" id="myInput" name="myInput") 